@tailwind base;
@tailwind components;
@tailwind utilities;


html {

    @apply text-white  scroll-smooth  bg-gradient-to-r from-fuchsia-600 to-pink-700 animate-text
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

}









